*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Django
dev.db*
dev
*.log
local_settings.py
collected_static/

# Local file cruft/auto-backups
.DS_Store
*~

# Sphinx
docs/_build
docs/_static
